<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}


Index



{% endblock %}
<div class="molestasusu">
{% block content %} 

<h1>Quem sou eu

</h1>



<p> Meu nome é marcos, sou o menorzin quentao do morro do papagaio,<br> gosto de fazer amor e hoje oficialmente me tornarei pela primeira vez um deus super sayajin, <br>siuuuuuuuuuuuuuuuuu, viva o bolsonaro, fora lula!
    </p>
    <p>
   eu tambem gosto de dar tapas na bunda do lucas neto

</p>

<h2> bati no Susu </h2>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2Kgb3JEpLniN2taHXaoeDHC1vKnoRL4l8GA&s" width="500px" height="500px">
{% endblock %}
</div>