<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Sobre a linguagem Python



{% endblock %}

{% block content %}
<h1>Projetos para o futuro(bater no susu)</h1>

<p>
    1- virar SSJ blue <br>
    2- desbloquear o kaioken 10x aumentado <br>
    3- virar um deus super sayajin <br>
    4- desbloquear o ego superior <br>
    5- farmar aura fazendo 67 enquanta caga de bruço <br>
    6- ser o rei do 67 <br>
    7- meter rebolando fazendo 67<br>
</p>
<img src="https://i.ytimg.com/vi/c0vkejxlUzk/oar2.jpg?sqp=-oaymwEiCNAFENAFSFqQAgHyq4qpAxEIARUAAAAAJQAAyEI9AICiQw==&rs=AOn4CLB0jZ-xUtjF7Dz2iqQtfPp1juFMbQ&usqp=CCk" width="500px"  height="500px">
{% endblock %}
