<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Sobre o Flask



{% endblock %}

{% block content %}
<h1>Oque o markin rei do 67 gosta de fazer</h1>

<p>
    1- SixSeven 67 (obvio)<br>
    2- gritar ate virar sayajin enquanto caga<br>
    3- ftv <br>
    4- bater no gato do andre<br>
    5- futmesa <br>
    6- jogar no pc <br>
    7- neymar meu amor <br>
</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFtnx4Ox3S5ns5q5oR-sb-OYEzavCVKccjQw&s" width="500px"  height="500px">
{% endblock %}
